* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3 {
    font-size: 24px;
    color: #666;
}

p {
    font-size: 12px;
}

/* HEADER */

header {
    background-color: #EAC926;
    size: 100%;
}

header div.top-header {
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    padding: 10px;
}

header .top-header div.logo {
    width: 33vw;
    padding: 10px;
    align-items: center;
}

header .top-header div.input {
    padding: 10px;
    
}


header .top-header div.form .fa-search {
    background-color: white;
    padding: 3px;
    border-radius: 3px;
}
header .top-header p{
    margin-top: 10px;
    
}

header .fa-hand-holding-usd {
    background-color:#EAC926 ;
}
header nav {
    padding: 10px;
    display: none;
}

header nav ul li {
    font-size: 12px;
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
}

header div.burguer-menu {
    text-align: center;

}

.fa.fa-bars.burguer {
    color: white;
    background-color: #03264C;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
}

section.home-logo {
    padding-bottom: 5px;
}
section.home-logo img {
    width: 100%;
}

/* MAIN */

main {
    width: 90%;
    margin: 0px auto;
}
main section h3{
    margin: 20px 0px;
}

main section article {
    background-color:white;
    margin: 10px 0px;
    
}
main section article img{    
    width: 100%;
    
}
main section article i,
.descuento {
    color: #39b54a;
}

main section article div.detalle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}
main section article i{
    display: block ;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position:absolute;
    right: 20px;
    top: -15px;
    transition: transform 500ms;
    
}

main section article div.detalle p.precio {
    font-size: 18px;
    flex-grow: 0.3;
}

main section article div.detalle p.descuento {
    font-size: 16px;
    font-weight: normal;
    flex-grow: 0.7;
}

main section article .descripcion {
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    color: #666;
    padding: 10px;
    display: none;    
    
    
}

/* FOOTER */

footer {
    width: 90%;
    text-align: center;
    background-color: white;
    margin: 0px auto;
    padding: 10px;
}
footer section i.fas.fa-credit-card,
footer section i.fas.fa-gift,
footer section i.fas.fa-user-shield {
    color: #1259c3;
    size: 2em;
    margin-bottom: 10px;
}
footer section p {
    font-size: 11px;
    margin-bottom: 15px;
}
footer section p.copyright {
    font-size: 9px;
    text-align: left;    
}

@media (min-width: 361px) {

    header div.top-header {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    header .top-header div.logo {
        max-width: 33%;
        padding: 10px;
    }
    
    header nav.nav-bar {
        display: flex;
        justify-content:space-between ;
    }
    header nav.nav-bar ul{
        display: flex;
        justify-content:space-between ;
    }
    header nav.nav-bar ul li{
        padding-right: 15px;
    }

    header div.burguer-menu {
        display: none;    
    }

    main section .products {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
                
    }
    main section article{
        display:flex;
        flex-wrap: wrap;
        width: 45%;
        
    }

    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100,100, 100);        

    }

    main section article:hover .descripcion {
        display:block; 
    }

    main section article:hover i {
        transform: rotateZ(-90deg);
    }

    

}

@media (min-width: 769px) {

    main section article{
        width: 22.5%;
    }

    footer div{
        display:flex;
        
    }

    footer div section i.fas:hover {
        color:#EAC926;
        
    }

     
}
